:root {
  --header-height: 39px;
  --footer-height: 39px;
}

.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  color: black;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  flex: 1;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: darkgray;
}

.header {
  height: var(--header-height);
  top: 0;
  width: 100%;
}

.header-item {
  color: white;
  background-color: black;
}

.footer {
  height: var(--footer-height);
  bottom: 0;
  width: 100%;
}

.footer-item {
  color: white;
  background-color: black;
}

.home {
  background-image: url('../image.png');
}

.page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: calc(100vh - var(--footer-height) - var(--header-height));
  text-align: center;


  /* flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; */
}

h1 {
  margin: 0px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home-midground {
  position: absolute;
  top: 90px;
  left: 50%;
  width: 70%;
  height: 30%;
  /* min-height: calc(50% - 200px); */
  transform: translate(-50%, -50%);
  background-color: rgba(13, 6, 6, 0.391);
}

.home-foreground {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-color: rgba(13, 6, 6, 0.391);
}